body {
    background: linear-gradient(0deg, #ba82db00, #9baab900), url(https://hdqwalls.com/wallpapers/marvel-contest-of-champions-x-men-vz.jpg) no-repeat;
    background-size: cover;
}

button {
    margin: 0 1%;
}

.mainPanel {
    margin-top: 1%;
}

.cardPanel {
    width: 75%;
}

.cardItem {
    margin-bottom: 12px;

    border-top-right-radius: 50px;
    border-top-left-radius: 12px;

}

.card-body {
    flex: 0 0 auto;
}

.cardImg {
    height: 320px;

    background-size: cover;

    border-top-right-radius: 50px;
    border-top-left-radius: 12px;
    animation: Nasd;
}


.row {
    --bs-gutter-x: 0rem;
}

.modalContainer {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modalContainer .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px 20px 0px;
    border: 1px solid lightgray;
    border-top: 10px solid #58abb7;
    width: 30%;
}


